.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
  max-width: 1600px; /* or whatever maximum width you prefer */
  margin: auto;

}

.project-container {
  max-width: 1400px; /* or whatever maximum width you prefer */
  margin: auto;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for some depth */
}

/* Container de la barre */
.bar-container {
  width: 700px; /* Largeur totale de la barre */
  height: 3px; /* Hauteur de la barre */
  background-color: #100f0f28; /* Couleur de fond de la partie non mise en évidence */
  position: relative; /* Pour positionner absolument la partie en surbrillance à l'intérieur */
  overflow: hidden; /* Garde la surbrillance à l'intérieur des bords arrondis */
  margin: 0 auto; 
}

.title-section{
  align-items: center;
    justify-content: center;
}

/* Partie mise en évidence de la barre */
.highlight {
  width: 30%; /* Pourcentage de la barre que vous souhaitez mettre en évidence */
  height: 100%; /* La hauteur de la surbrillance correspond à celle du container */
  background-color: #ffd700; /* Couleur de la partie mise en évidence */
  position: absolute; /* Positionne la surbrillance par rapport à son parent */
  left: 50%; /* Débute au milieu de la barre */
  transform: translateX(-50%); /* Centrer la surbrillance par rapport à son point de départ */
}


.project-item {
  
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Cover the area without stretching the image */
}

.project-content {
  padding: 15px;
}

.project-title {
  margin-top: 0;
  color: #333;
}

.project-description {
  color: #666;
  font-size: 0.9rem;
}

.project-actions {
  padding: 10px 15px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e1e1;
}

.project-button {
  background-color: #ffa200;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.project-button:hover {
  background-color: #fcc203dc;
  border-color: #ff04de; /* Couleur de bordure pour l'état hover et active */
    transform: scale(1.2);
}

/* Additional responsive adjustments if needed */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.create-project-btn, .view-analytics-btn {
  background-color: #9f09f0; /* A nice green for creation button */
  color: white;
  border: 2px solid black;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2px; /* Add some margin around the buttons */
  font-size: 1rem;
}

.create-project-btn:hover, .view-analytics-btn:hover {
  background-color: #c525d0c9;
}

/* Make sure buttons are visible outside the projects container */
.create-project-btn {
  margin-left: 20px; /* Or align it according to your design */
}

.view-analytics-btn {
  display: block; /* Block will take the full width available */
  width: max-content; /* It will only be as wide as its content */
  margin: 20px auto; /* Centered horizontally */
}

