.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #02011bdf; /* Modifier avec votre couleur de fond */
   
  }
  
  .navbar a {
    display: flex;
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Pas de soulignement */
    margin-left: 20px; /* Espacement entre les liens */
    margin: 0 70px;
    padding: 10px; /* Espace autour des liens pour un meilleur toucher */
    border: 2px solid transparent; /* Préparer la bordure mais la rendre transparente */
    transition: border-color 0.3s transform 0.3s; /* Transition pour l'animation de la bordure */
}

.navbar a:hover, .navbar a.active {
    border-color: #ff04de; /* Couleur de bordure pour l'état hover et active */
    transform: scale(1.2);
    background-color: #ff04de;
}


  .navbar-login-icon {
    margin-left: 100px; /* Espacement entre l'icône et les liens */
    cursor: pointer; /* Change le curseur en main lorsque vous survolez l'icône */
    color: aliceblue;
    margin-right: 30px;
}

.name{
  color: aliceblue;
  margin-right: 400px;
  font-size: 1.8rem;
}

.navbar-login-icon .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; /* Makes the entire container clickable */
}

.navbar-login-icon .icon-label {
  margin-top: 4px; /* Spacing between the icon and the text */
  color: rgba(255, 255, 255, 0.398); /* Adjust color as needed */
  font-size: 14px; /* Adjust font size as needed */
}
  